body { 
    background-color: #95c5ff; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center; 
}

img {
    width: 300px;
    height: 300px;
}

.ingredients {
   border: 2px solid rgb(255, 204, 250);
   padding: 20px 25px;
   width: fit-content;
    margin: 10px auto;
    background-color: ivory;
    border-radius: 4px;
}

.instructions {
    border: 2px solid rgb(255, 204, 250);
    padding: 20px 25px;
    width: fit-content;
    margin: 10px auto;
    background-color: ivory;
    border-radius: 4px;
}

.matcha-image{ 
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.vision-board img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.vision-board {
    display: flex;
    gap: 10px;
    justify-content: auto;
   
}

.vision-board img {
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    object-position: center bottom;
    
}